<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{common/configs/config :: CSSConfigFrag}"></th:block>
	<title>Insert title here</title>

</head>
<body id="page-top">
	
	<div id="wrapper">
    <div id="left-sidebar" class="d-none d-lg-block">
        </div>
    
    <div id="right-content">
        <div th:replace="~{common/fragments/sidebar :: SidebarFrag}"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="~{common/fragments/header :: HeaderFrag}"></div>
                <div class="container-fluid">
                    <th:block layout:fragment="Content"></th:block>
                </div>
                </div>
            <footer>
                <div th:replace="~{common/fragments/footer :: FooterFrag}"></div>
            </footer>
            </div>
    </div>
</div>
	
</body>
<th:block th:replace="~{common/configs/config :: JSConfigFrag}"></th:block>

</html>