<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{common/configs/config :: CSSConfigFrag}"></th:block>
	<title>Insert title here</title>

</head>

<body id="page-top" class="sidebar-toggled">

	
<div class="pc-bg">
	
	
	<!-- Page Wrapper -->
	<div id="wrapper">
	
		<!-- Sidebar -->
		<div th:replace="~{common/fragments/sidebar :: SidebarFrag}"></div>
		<!-- End of Sidebar -->
		
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			
			<!-- Main Content -->
			<div id="content">
				
				<!-- Topbar -->
					<div th:replace="~{common/fragments/header :: HeaderFrag}"></div>
				<!-- End of Topbar -->
				
				<!-- Begin Page Content -->
					<div class="container-fluid">
						<th:block layout:fragment="Content"></th:block>
					</div>
				<!-- /.container-fluid -->
				
				
			</div>
			<!-- End of Main Content -->
			
			<!-- Footer -->
			<footer>
				<div th:replace="~{common/fragments/footer :: FooterFrag}"></div>
			</footer>
			<!-- End of Footer -->
			
		</div>
		<!-- End of Content Wrapper -->
	
	
	
	
	</div>
	<!-- End of Page Wrapper -->
	
</div>

</body>


<th:block th:replace="~{common/configs/config :: JSConfigFrag}"></th:block>

</html>





